<div class="container d-flex justify-content-center align-items-center-center mt-4">
  <h1 class="mb-4 mt-2">Articles</h1>
</div>
<div class="row article">
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do%>
      <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="card bd-5" style="height: 30vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?beach');">
          <div class="card-description">
            <h2><%= article.title %></h2>
          </div>
        <% end %>
        </div>
      </div>
  <% end %>
</div>
<div class="article mt-4 page">
  <%= paginate @articles %>
</div>

